.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
}
.header_title {
  color: #e50914;
  font-size: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header_actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header_select{
    color: white;
    border-radius: 12px;
    padding: 4px 10px;
    background-color: black;
}

.header_btn{
    padding: 8px 16px;
    color: black;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
